@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary-text: #062c30;
  --color-primary: #05595b;
  --color-secondary: #e9eeee;
  --color-accent: #e2d784;
  --color-primary-bg: #f5f5f5;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 90%;
}

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-xl font-medium;
  }
}

@layer components {
  .button {
    @apply cursor-pointer font-semibold bg-primary rounded-3xl text-primary-bg py-2 px-6 hover:font-bold;
  }

  .btn-secondary {
    @apply bg-secondary text-primary-text hover:bg-primary hover:text-primary-bg;
  }

  .btn-accent {
    @apply bg-accent text-primary-text hover:font-bold;
  }

  .btn-outline {
    @apply bg-transparent border-2 text-primary-text border-primary-text;
  }

  .nav-link {
    @apply font-semibold hover:bg-primary hover:rounded-3xl hover:text-primary-bg py-2 px-6;
  }

  .badge-accent {
    @apply bg-accent rounded-3xl px-2 py-1 text-primary-text text-xs font-normal;
  }

  .card {
    @apply flex flex-col gap-2 cursor-pointer relative bg-secondary rounded-2xl shadow-lg inset-shadow-xs p-2 hover:bg-primary hover:text-primary-bg;
  }

  .card-img {
    @apply rounded-xl h-[124px] w-full object-cover;
  }

  .card-badge {
    @apply absolute flex flex-col xl:flex-row items-start gap-2 top-4 left-4;
  }
}
